<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<template icon="resource://template/template_editor.svg"
          name="BPM entity editor">
    <description>
        <![CDATA[Standard editor screen with BPM <i>procActionsFrame</i>.
<br/>The <i>Process code</i> property specifies a BPM process code the procActionsFrame will be integrated with.
<br/>The <i>Display process attachments</i> checkbox will enable a generation of the Table component with process attachments.]]>
    </description>
    <locMessages key="editorCaption">
        <message lang="default">
            <![CDATA[${entity.className} editor]]>
        </message>
    </locMessages>
    <locMessages key="process">
        <message lang="default">
            <![CDATA[Process]]>
        </message>
    </locMessages>
    <locMessages key="attachments">
        <message lang="default">
            <![CDATA[Attachments]]>
        </message>
    </locMessages>
    <locMessages key=""/>
    <locMessages key="processActors">
        <message lang="default">
            <![CDATA[Process actors]]>
        </message>
    </locMessages>
    <locMessages key="processTasks">
        <message lang="default">
            <![CDATA[Process tasks]]>
        </message>
    </locMessages>
    <locMessages key="processAttachments">
        <message lang="default">
            <![CDATA[Process attachments]]>
        </message>
    </locMessages>
    <locMessages key="processStarted">
        <message lang="default">
            <![CDATA[Process started]]>
        </message>
    </locMessages>
    <locMessages key="currentState">
        <message lang="default">
            <![CDATA[Current state:]]>
        </message>
    </locMessages>
    <property caption="Entity"
              code="entity"
              propertyType="ENTITY"
              required="true"/>
    <property caption="Entity view"
              code="editView"
              propertyType="VIEW"
              relatedProperty="entity"
              required="true"/>
    <property caption="Column width"
              code="fieldColumnWidth"
              defaultValue="250px"
              propertyType="PX_SIZE"/>
    <property caption="Modal dialog"
              code="modalDialog"
              propertyType="BOOLEAN"/>
    <property caption="Extended window actions"
              code="extendedWindowActions"
              propertyType="BOOLEAN"/>
    <property applyPreviousValue="false"
              caption="Process code"
              code="processCode"
              propertyType="STRING"
              required="true"/>
    <property caption="Display process tasks"
              code="displayProcessTasks"
              defaultValue="true"
              propertyType="BOOLEAN"/>
    <property caption="Display process actors"
              code="displayProcessActors"
              defaultValue="true"
              propertyType="BOOLEAN"/>
    <property caption="Display process attachments"
              code="displayProcessAttachments"
              defaultValue="true"
              propertyType="BOOLEAN"/>
    <source fileExt="xml"
            name="descriptor"
            templateFileName="${api.evaluateScript(&apos;screen/descriptorFileName.groovy&apos;, [&apos;entity&apos;: entity])}-edit"/>
    <source fileExt="java"
            name="controller"
            templateFileName="${controllerName}"/>
    <source fileExt="groovy"
            name="controller"
            templateFileName="${controllerName}"/>
</template>
